.list-item--expense {
  display: grid;
  grid-template-columns: 3fr 5rem 2fr auto 5rem;
  gap: 1rem;
}

.expense__datafield {
  margin: 0.5rem 0;
}

.expense__buttonfield {
  display: flex;
  align-items: center;
}