:root{
  --color-light: #F5F7FB;
  --color-dark: black;
  --color-accent: #4D5B9E;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--color-light);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.app {
  margin: 0 1rem;
}
